/*=================================
        FOOTER
=================================*/

footer{

    background:#111;

    color:#fff;

    text-align:center;

    padding:40px 10%;

}

footer p{

    line-height:2;

    color:#ccc;

}